<html lang="en">
<head>
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

      <title>Books</title>
<title>{% block title %} {% endblock %}</title>
<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet"/>



</head>
<style>
body{
background-image:linear-gradient(rgba(0,0,0.5,0),rgba(0,0,0.5,0)), url(https://images7.alphacoders.com/694/thumb-350-694702.jpg);
height: 10%;
background-size: cover;
background-position: center;
}
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index')}}">Books</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    {% if session.user_id  %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
    </ul>
           <ul class="navbar-nav ml-auto mt-2">
             <li class="nav-item"><a class="nav-link" href="#">{{ session.user_name }}</a></li>
             <li class="nav-item"><a class="nav-link" href="/logout">Log out</a>
           </ul>
    {% else %}
          <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/signup">Signup</a>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a>
          </ul>
        {% endif %}
    </div>
  </nav>

  <div id="main-body">
    {% block body %} {% endblock %}
  </div>
  </body>
</html>
